
<div class="FAQ_container">
    <h1 #container_faq class="title_faq">FAQ</h1>

    <div  #container_questio_faq class="parent">
        <div class="div1">
            <p-panel header="Privacy Management" [toggleable]="true">
                <p>
                    The virtual assistant uses advanced security protocols to ensure that all communications are encrypted, thereby protecting information transmitted between the device and cloud servers. Data is encrypted both in transit and at rest, using internationally recognized encryption standards to prevent unauthorized access. In addition, we maintain an ongoing commitment to the safekeeping of user data, implementing physical and IT security measures to protect the information. We adopt strict policies to ensure that data is not used improperly or without user consent. The privacy and security of our users are at the core of our service, and we continually strive to maintain and improve our data protection practices.
                </p>
            </p-panel>    
        </div>
        <div class="div2">
            <p-panel header="Home Automation Integration" [toggleable]="true">
                <p>
                    Virgil is currently not fully compatible with home automation; there is a module that takes care of this, but it is not available at the moment, but it is expected that support will initially only be available for Merros devices.
                </p>
            </p-panel>    
        </div>
        <div class="div3">
            <p-panel header="Multilingual Support" [toggleable]="true">
                <p>
                    Virgilio only supports two languages at the moment, the native language of the developer 'Ita' and English, and support for other languages will only come if there is a high demand or if someone from the community is willing to create the json and datasets for training the contextual understanding model.
                </p>
            </p-panel>    
        </div>
        <div class="div4">
            <p-panel header="Supported devices" [toggleable]="true">
                <p>
                    Virgilio mainly supports two operating systems: Windows (where it is mainly tested) and Linux, where testing is less frequent but regular.
            </p-panel>    
        </div>
        </div>
</div>
