<h1>Monthly service availability statistics:</h1>
<h3 #api data-ref="api" [ngStyle]="{'color':takeElement(api)}"><span class="pi pi-circle-fill"></span> Internal API: {{uptime_api}}%</h3> 
<h3 #website data-ref="website" [ngStyle]="{'color':takeElement(website)}"><span class="pi pi-circle-fill"></span> WebSite: {{uptime_website}}%</h3>
<h3 #ds data-ref="ds" [ngStyle]="{'color':takeElement(ds)}"><span class="pi pi-circle-fill"></span> Discord bot: {{uptime_ds}}%</h3>
<p-chart height={{height}} width="99%" type="line" [data]="basicData" [options]="basicOptions"></p-chart>